# editors
*.swp
*~

# python
.venv

# build
/build*
/twister-out*
.cache
__pycache__/

# docs
/doc/*
# Ignore VScode files
.vscode/*
!.vscode/**/*.default.*
!.vscode/extensions.json
!.vscode/eie.code-workspace
